@font-face {
  font-family: 'MyWebFont';
  src: url('analog.ttf') format('woff2')
}
 
 body, .number-button, .operator-button2, .operator-button, .output-field {
   background-image: url("rickandmorty.jpg");
   opacity: 0.80;
   font-family: 'MyWebFont', Fallback, sans-serif;
   animation: animateBg 10s linear infinite;
   background-image: radialGradient(0deg,#cf5c5c,#c19b4a,#def2a0,#c6ee4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a);
   background-size: 100% 1100%;
 }

 #appName{
   text-align: center;
 }

 #wrapper {
   position: relative;
   margin: auto;
   padding-top: 80px;

}

 #container {
   top: 50%;  
   left: 50%;
   transform: translate(-200%, 50%);
   position: absolute;
   background: rgb(63,94,251);
   background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(138,252,70,1) 100%);
   border: 0.25vh solid black;
   margin: 2vw;
   padding: 2vw;
   border-radius: 15px;
   animation: animateBg 10s linear infinite;
   background-image: linear-gradient(0deg,#cf5c5c,#c19b4a,#def2a0,#c6ee4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a);
   background-size: 100% 1100%;
 }

 p {
    padding: auto;
    display: table-cell;
    border: 0.1vh solid black;
    text-align: center;
 }

.result {
    display: block;
    height: 20vh;
    text-align: center;  
 }

 #current_number {
   text-align: center;
   font-size: 50px;
 }
 #result {
   text-align: center;
   font-size: 50px;
 }

.output-field {
  color: whitesmoke;
  border: 0.3vh solid black;
  border-radius: 15px;
  margin-block: 15px;

}

.number-button {
   color: whitesmoke;
   min-width: 50px;
   min-height: 50px;
   font-size: 45px;
   margin: 1px;
   border-radius: 10px;
   font-family: 'MyWebFont', Fallback, sans-serif;
   animation: animateBg 8s linear infinite;
   background-image: radialGradient(0deg,#cf5c5c,#c19b4a,#def2a0,#c6ee4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a);
   background-size: 100% 1100%;
 }

 
.operator-button {
  color: whitesmoke;
  min-width: 70px;
  min-height: 50px;
  font-size: 45px;
  font-weight: bold;
  margin: 1px;
  border-radius: 10px;
  font-family: 'MyWebFont', Fallback, sans-serif;

 }

 .operator-button2 {
  color: whitesmoke;
  min-width: 110px;
  min-height: 50px;
  font-size: 45px;
  margin: 1px;
  border-radius: 10px;
  animation: animateBg 8s linear infinite;
  background-image: radialGradient(0deg,#cf5c5c,#c19b4a,#def2a0,#c6ee4a,#42eca6,#64b3d9,#208ea2,#498ada,#5b73df,#897ed3,#cf5c5c,#c19b4a);
  background-size: 100% 1100%;
 }

 @media screen and (max-width: 350px) { 
   .number-button, .operator-button, .operator-button2, .output-field, div#current_number, div#result, #container {
      min-width: 20px;
      min-height: 20px;
      font-size: 20px;
      border: 0.1vh solid black;
      border-radius: 5px;

   }
 }

 @keyframes animateBg {
  0% { background-position: 0% 0%; }
  100% { background-position: 0% 100%; }
}
